<div class="row">
  <div class="col-md-12">

    <div class="c_panel">

        <div class="c_title">
            <h2>Shopping Carts</h2>
            <div class="clearfix"></div>
        </div><!--/.c_title-->

        <div class="c_content page-search-results">
            <div class="search-results">
              <div class="tab-content">
                  <div class="shopping-cart tab-pane fade in active">
                    <%= render "shopping_cart" %>
                  </div>                    
              </div>
              <!--TAB END-->
            </div>
        </div><!--/.c_content-->
    </div><!--/.c_panels-->
  </div>
</div>