
<div class="row">

    <div class="col-md-3">

        <div class="widget">
            <div class="widget-content bg-white">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="counter font-bold font-size-38"><%= Product.all.count %></h3>
                    </div>
                    <div class="col-xs-6">
                        <p class="font-size-38"><span class="icon-people pull-right"></span></p>
                    </div>
                </div>
                <p>Total Products</p>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100" style="width: 100%;" aria-valuenow="100"></div>
                </div>
            </div><!--/widget-content--> 
        </div><!--/widget-->

    </div>

        <div class="col-md-3">

            <div class="widget">
                <div class="widget-content bg-white">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3 class="counter font-bold font-size-38"><%= sprintf('%.2f', OrderItem.weekly_sales_rate_of_current_month) %></h3>
                        </div>
                        <div class="col-xs-6">
                            <p class="font-size-38"><span class="icon-basket-loaded pull-right"></span></p>
                        </div>
                    </div>
                    <p>Weekly Sales Of This Month</p>
                    <div class="progress progress-xs">
                        <div class="progress-bar bg-alizarin" role="progressbar" data-transitiongoal="<%= sprintf('%.2f', OrderItem.weekly_sales_rate_of_current_month) %>" style="width: <%= sprintf('%.2f', OrderItem.weekly_sales_rate_of_current_month) %>%;" aria-valuenow="<%= sprintf('%.2f', OrderItem.weekly_sales_rate_of_current_month) %>"></div>
                    </div>
                </div><!--/widget-content--> 
            </div><!--/widget-->
            
        </div>

        
        <div class="col-md-3">

            <div class="widget">
                <div class="widget-content bg-white">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3 class="counter font-bold font-size-38"><%= sprintf('%.2f', OrderItem.current_month_sales_rate) %></h3>
                        </div>
                        <div class="col-xs-6">
                            <p class="font-size-38"><span class="icon-user-follow pull-right"></span></p>
                        </div>
                    </div>
                    <p>This Month Sales</p>
                    <div class="progress progress-xs">
                        <div class="progress-bar bg-green-sea" role="progressbar" data-transitiongoal="<%= sprintf('%.2f', OrderItem.current_month_sales_rate) %>" style="width: <%= sprintf('%.2f', OrderItem.current_month_sales_rate) %>%;" aria-valuenow="<%= sprintf('%.2f', OrderItem.current_month_sales_rate) %>"></div>
                    </div>
                </div><!--/widget-content--> 
            </div><!--/widget-->

            
        </div>

    <div class="col-md-3">

        <div class="widget">
            <div class="widget-content bg-white">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="counter font-bold font-size-38">84</h3>
                    </div>
                    <div class="col-xs-6">
                        <p class="font-size-38"><span class="icon-book-open pull-right"></span></p>
                    </div>
                </div>
                <p>This Month Revenue</p>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-sun-flower" role="progressbar" data-transitiongoal="90" style="width: 90%;" aria-valuenow="90"></div>
                </div>
            </div><!--/widget-content--> 
        </div><!--/widget-->
        
    </div>

    


</div><!-- .row -->

                    
<!--======== Daily Summary Start ========-->
<div class="row">

    <div class="col-md-12">

        <div class="widget">
            <div class="widget-header bg-white">
                <h3 class="fg-gray">TODAY SUMMARY</h3>

                <div class="daterange daterange-text add-date-ranges pull-right" id="daterange-4" data-format="MMMM D, YYYY" data-start-date="February 19, 2015" data-end-date="March 19, 2015" style="    margin-top: -24px;">
                    <i class="fa fa-calendar"></i>
                    <span>September 6, 2017 - October 5, 2017</span>
                </div>
            </div>
            <div class="widget-content bg-white">
                
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="tab-content">
                            <div class="tab-pane fade in active">
                                <table class="table table-striped">
                                  <thead>
                                    <th>Date</th>
                                    <th>Product</th>
                                    <th>Category</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total Price</th>
                                  </thead>
                                  <tbody id="sales_results">
                                    <%= render partial: 'sales/item', locals: {sales: @today_sales} %>
                                  </tbody>
                                </table>
                            </div>                    
                        </div>


                        <div class="row" style="border-top:1px solid #eee;">
                            <div style="margin-top:10px;">
                                <div class="col-md-4 mobile-text-center">
                                    <span>Total Product</span>
                                    <h2 class="counter"><%= @today_sales.count %></h2>
                                    <span class="widget-total-sessions graph" style="height: 160px;"><canvas width="198" height="40" style="display: inline-block; width: 198px; height: 40px; vertical-align: top;"></canvas></span>
                                </div><!--/.col-md-4-->
                                <div class="col-md-4 mobile-text-center">
                                    <span>Total Quantity</span>
                                    <h2><span class="counter"><%= @today_sales.sum(:quantity) %></span></h2>
                                    <span class="widget-total-revenue graph" style="height: 160px;"><canvas width="200" height="40" style="display: inline-block; width: 200px; height: 40px; vertical-align: top;"></canvas></span>
                                </div><!--/.col-md-4-->
                                <div class="col-md-4 mobile-text-center">
                                    <span>Total Sales</span>
                                    <h2><span class="counter"><%= @today_sales.sum(:total_price) %></span>TK</h2>
                                    <span class="widget-speed-sessions graph" style="height: 160px;"><canvas width="200" height="40" style="display: inline-block; width: 200px; height: 40px; vertical-align: top;"></canvas></span>
                                </div><!--/.col-md-4-->
                            </div>
                            
                        </div>

                    </div><!--/.col-md-8-->

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div>
                            <div class="top-profile-heading">
                                <h3>Top Sales</h3>
                                
                                <div class="clearfix"></div>
                            </div><!--/.c_title-->

                            <div class="top-profiles-wrapper" style="overflow: hidden; outline: none;" tabindex="5009"> 

                                

                                <ul class="list-unstyled top_profiles">
                                    <% @daily_top_sales.each do |product_id, quantity| %>
                                        <li class="media event">
                                        
                                            <div class="pull-left thumbnail-hover margin-left-28">
                                                <div class="overflow-hidden">
                                                    <img src="./Thema Admin Boostrap Template_files/img3.jpg" width="80" alt="image">
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <a class="title" href="http://lancecoder.com/themes/thema/versions/html/index.php#"><%= Product.find(product_id).name %></a>
                                                <p><strong><%= quantity %></strong></p>
                                                </p>
                                            </div>
                                        </li>    
                                    <% end %>
                                </ul>

                            </div><!--/.top-profiles-wrapper-->    
                            
                        </div>
                    </div><!--/.col-md-4-->

                </div><!--/row-->

            </div><!--/widget-content--> 
        </div><!--/widget-->

    </div><!--/.col-md-12-->
</div><!--/.row-->
<!--======== Transaction Summary End ========-->


<!--======== Weekly Summary Start ========-->
<div class="row">
    <div class="col-md-12">

        <div class="widget">
            <div class="widget-header bg-white">
                <h3 class="fg-gray">WEEKLY SUMMARY</h3>
            </div>

            <div class="widget-content bg-white">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="tab-content">
                          <div class="tab-pane fade in active">
                            <table class="table table-striped">
                              <thead>
                                <th>Date</th>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                              </thead>
                              <tbody id="sales_results">
                                <%= render partial: 'sales/item', locals: {sales: @weekly_sales} %>
                              </tbody>
                            </table>
                          </div>                    
                        </div>



                        <div style="border-top:1px solid #eee;">
                            <div style="margin-top:10px;">
                                <div class="col-md-4 mobile-text-center">
                                    <span>Total Products</span>
                                    <h2 class="counter"><%= @weekly_sales.count %></h2>
                                    <span class="widget-total-sessions graph" style="height: 160px;"><canvas width="198" height="40" style="display: inline-block; width: 198px; height: 40px; vertical-align: top;"></canvas></span>
                                </div><!--/.col-md-4-->
                                <div class="col-md-4 mobile-text-center">
                                    <span>Total Quantity</span>
                                    <h2><span class="counter"><%= @weekly_sales.sum(:quantity) %></span></h2>
                                    <span class="widget-total-revenue graph" style="height: 160px;"><canvas width="200" height="40" style="display: inline-block; width: 200px; height: 40px; vertical-align: top;"></canvas></span>
                                </div><!--/.col-md-4-->
                                <div class="col-md-4 mobile-text-center">
                                    <span>Total Sales</span>
                                    <h2><span class="counter"><%= @weekly_sales.sum(:total_price) %></span>TK</h2>
                                    <span class="widget-speed-sessions graph" style="height: 160px;"><canvas width="200" height="40" style="display: inline-block; width: 200px; height: 40px; vertical-align: top;"></canvas></span>
                                </div><!--/.col-md-4-->
                            </div>
                        </div>

                    </div><!--/.col-md-8-->


                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div>
                            <div class="top-profile-heading">
                                <h3>Top Sales</h3>
                                
                                <div class="clearfix"></div>
                            </div><!--/.c_title-->

                            <div class="top-profiles-wrapper" style="overflow: hidden; outline: none;" tabindex="5009"> 

                                

                                <ul class="list-unstyled top_profiles">
                                    <% @weekly_top_sales.each do |product_id, quantity| %>
                                        <li class="media event">
                                        
                                            <div class="pull-left thumbnail-hover margin-left-28">
                                                <div class="overflow-hidden">
                                                    <img src="./Thema Admin Boostrap Template_files/img3.jpg" width="80" alt="image">
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <a class="title" href="#"><%= Product.find(product_id).name %></a>
                                                <p><strong><%= quantity %></strong></p>
                                                </p>
                                            </div>
                                        </li>    
                                    <% end %>
                                </ul>

                            </div><!--/.top-profiles-wrapper-->    
                            
                        </div>
                    </div><!--/.col-md-4-->

                </div><!--/row-->

            </div><!--/widget-content--> 
        </div><!--/widget-->

    </div>
</div><!--/.row-->
<!--======== Weekly Summary End ========-->

<!--======== Monthly Summary Start ========-->
<div class="row">
    <div class="col-md-12">

        <div class="widget">
            <div class="widget-header bg-white">
                <h3 class="fg-gray">MONTHLY SUMMARY</h3>
            </div>
            <div class="widget-content bg-white">
                

                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="tab-content">
                          <div class="tab-pane fade in active">
                            <table class="table table-striped">
                              <thead>
                                <th>Date</th>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                              </thead>
                              <tbody id="sales_results">
                                <%= render partial: 'sales/item', locals: {sales: @monthly_sales} %>
                              </tbody>
                            </table>
                          </div>                    
                        </div>


                        <div style="border-top:1px solid #eee;">
                            <div style="margin-top:10px;">
                                <div class="col-md-4 mobile-text-center">
                                    <span>Total Products</span>
                                    <h2 class="counter"><%= @monthly_sales.count %></h2>
                                    <span class="widget-total-sessions graph" style="height: 160px;"><canvas width="198" height="40" style="display: inline-block; width: 198px; height: 40px; vertical-align: top;"></canvas></span>
                                </div><!--/.col-md-4-->
                                <div class="col-md-4 mobile-text-center">
                                    <span>Total Quantity</span>
                                    <h2><span class="counter"><%= @monthly_sales.sum(:quantity) %></span></h2>
                                    <span class="widget-total-revenue graph" style="height: 160px;"><canvas width="200" height="40" style="display: inline-block; width: 200px; height: 40px; vertical-align: top;"></canvas></span>
                                </div><!--/.col-md-4-->
                                <div class="col-md-4 mobile-text-center">
                                    <span>Total Sales</span>
                                    <h2><span class="counter"><%= @monthly_sales.sum(:total_price) %></span>TK</h2>
                                    <span class="widget-speed-sessions graph" style="height: 160px;"><canvas width="200" height="40" style="display: inline-block; width: 200px; height: 40px; vertical-align: top;"></canvas></span>
                                </div><!--/.col-md-4-->
                            </div>
                            
                        </div>

                    </div><!--/.col-md-8-->


                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div>
                            <div class="top-profile-heading">
                                <h3>Top Sales</h3>
                                
                                <div class="clearfix"></div>
                            </div><!--/.c_title-->

                            <div class="top-profiles-wrapper" style="overflow: hidden; outline: none;" tabindex="5009"> 

                                

                                <ul class="list-unstyled top_profiles">
                                    <% @monthly_top_sales.each do |product_id, quantity| %>
                                        <li class="media event">
                                        
                                            <div class="pull-left thumbnail-hover margin-left-28">
                                                <div class="overflow-hidden">
                                                    <img src="./Thema Admin Boostrap Template_files/img3.jpg" width="80" alt="image">
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <a class="title" href="#"><%= Product.find(product_id).name %></a>
                                                <p><strong><%= quantity %></strong></p>
                                                </p>
                                            </div>
                                        </li>    
                                    <% end %>
                                </ul>

                            </div><!--/.top-profiles-wrapper-->    
                            
                        </div>
                    </div><!--/.col-md-4-->


                </div><!--/row-->

            </div><!--/widget-content--> 
        </div><!--/widget-->

    </div>
</div><!--/.row-->
<!--======== Weekly Summary End ========-->