<div class="row">
  <div class="col-md-12">

    <div class="c_panel">

        <div class="c_title">
            <h2>Search Results Page</h2>
            <div class="clearfix"></div>
        </div><!--/.c_title-->

        <div class="c_content page-search-results">
            
            <div class="search-box">
              <%= form_tag(products_by_category_path(@category), method: 'get', id: 'search-products-by-category') do  %>
                <div class="input-group margin-bottom-15">
                    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Search Products" %>
                    <span class="input-group-btn">
                      <%= button_tag("Search", class: 'btn btn-success') %>
                    </span>
                </div>
              <% end %>
            </div>

            <div class="search-results">
              <div class="tab-content">
                  <div class="tab-pane fade in active" id="products-by-category">
                    
                    <% @products.each do |product| %>
                      <%= render "item", product: product, order_item: @order_item %>
                    <% end %>
                  </div>                    
              </div>
              <!--TAB END-->
            </div>
        </div><!--/.c_content-->
    </div><!--/.c_panels-->
  </div>
</div>