<div class="row">

    <div class="col-md-6 col-sm-6 col-xs-12">

        <div class="widget">
            <div class="widget-header bg-white">
                <h3 class="fg-gray">Unit</h3>
                <span class="fa fa-plus fg-gray pull-right btn-todo-add" data-toggle="modal" data-target="#modal-add-unit"></span>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content bg-white">
                
                <div class="todo-list">
                    <ul class="sortable-container ui-sortable" id="unit" style="overflow-y: hidden; outline: none;" tabindex="5008">
                        <%= render 'units/unit' %>
                       
                    </ul>                   
                </div><!--/todo-list-->
            </div><!--/widget-content--> 
        </div><!--/widget-->
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">

        <div class="widget">
            <div class="widget-header bg-white">
                <h3 class="fg-gray">Brand</h3>
                <span class="fa fa-plus fg-gray pull-right btn-todo-add" data-toggle="modal" data-target="#modal-add-brand"></span>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content bg-white">
                
                <div class="todo-list">
                    <ul class="sortable-container ui-sortable" id="brand" style="overflow-y: hidden; outline: none;" tabindex="5008">
                        <%= render 'brands/brand' %>
                       
                    </ul>                   

                </div><!--/todo-list-->

            </div><!--/widget-content--> 
            
        </div><!--/widget-->

    </div>

</div>

<!--****** Start Add Unit Modal ******-->
<div class="modal" id="modal-add-unit" tabindex="-1" role="dialog" aria-hidden="true" data-easein="fadeInDown" data-easeout="fadeOutDown">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h4 class="modal-title"><strong>Add</strong> New Unit</h4>
        </div>
        <%= render 'units/form' %>
      </div>
    </div>
</div>
<!--****** End Add Unit Modal ******-->

<!--****** Start Add Brand Modal ******-->
<div class="modal" id="modal-add-brand" tabindex="-1" role="dialog" aria-hidden="true" data-easein="fadeInDown" data-easeout="fadeOutDown">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h4 class="modal-title"><strong>Add</strong> New Brand</h4>
        </div>
        <%= render 'brands/form' %>
      </div>
    </div>
</div>
<!--****** End Add Brand Modal ******-->