<%= form_for @unit, remote: true do |f| %>
  
    <div class="modal-body">
        <div class="form-group">
            <%= f.label :name, "Name" %>
            <%= f.text_field :name, class: "form-control txtTitleTodo"  %>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-warning btn-raised rippler rippler-default" data-dismiss="modal">Close</button>
      <%= f.submit "Save", class: "btn btn-primary btn-raised rippler rippler-default btn-save-new-task"  %>
    </div>
<% end %>