$("#unit").html("<%= escape_javascript(render 'unit') %>")
$('.txtTitleTodo').val('')

// $("#unit").hide()

// $(".btn-warning").click();
// $('#modal-add-unit').modal('toggle');
// $('#modal-add-todo .close').click()

