<% Brand.all.each do |brand| %>
    <li class="sortable-item ui-sortable-handle"> 
        <div style="float:left;" class="todo-actions">
            <div class="wrapper-actions">
                <div style="float:left">
                    <%= link_to edit_brand_path(brand), remote: true do %>
                        <span class="fa fa-square-o bg-success padding-top-12 btn-todo-check" data-toggle="modal" data-target="#modal-add-brand" style="width:40px; height:40px;"></span>
                    <% end %>
                    
                </div>
                <div style="float:right;">
                    <%= link_to brand_path(brand), remote: true, data: {:confirm => 'Are you sure?'}, :method => :delete do %>
                        <span class="fa fa-times bg-danger padding-top-12 btn-todo-remove" style="width:40px; height:40px;"></span>
                    <% end %>
                    
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div style="float:right; float:left" class="todo-title">
            <span><%= brand.name %></span>
        </div>
        <div class="clearfix"></div>
    </li>
<% end %>

