<%= form_for(@category) do |f| %>
	<div class="form-group has-success">
		<div class="col-md-6 col-md-offset-3">
			<%= render 'shared/error', object: f.object %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :title, "Name" %>
		<%= f.text_field :title, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :parent_id %>
		<%= f.select :parent_id, nested_set_options(Category, @category) {|i| "#{sanitize('&nbsp;') * i.level} #{i.title}"}, include_blank: 'Select an item' %>
	</div>

	<%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
  