<%= content_tag :li, class: 'sortable-item ui-sortable-handle', :id => dom_id(category) do %>
  
  	
  	<div style="float:right; float:left" class="todo-title">
  	    <span class="handle"><%= category.title %></span>
  	</div>
  	<div class="clearfix"></div>
      
	  <%= content_tag :ol, class: 'nested_style' do %>
	   <% for child in category.children do %>
	    <%= render :partial => "tree", :locals => {:category => child }%>
	   <% end %>
	  <% end unless category.leaf? %>
 <% end %>