<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="widget">
            <div class="widget-header bg-white">
                <h3 class="fg-gray">Category</h3>
                <%= link_to(new_category_path) do  %>
                	<span class="fa fa-plus fg-gray pull-right btn-todo-add" ></span>
                <% end %>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content bg-white">
                
                <div class="todo-list">
                    <ul class="sortable-container ui-sortable" style="overflow-y: hidden; outline: none;" tabindex="5008">

                    	

                    	<% @categories.each do |category| %>
                    		<%= render :partial => "tree", :locals => {:category => category} %> 
                    	<% end %>

                    	

                    </ul>

                    
                    

                </div><!--/todo-list-->

            </div><!--/widget-content--> 
            <div class="widget-footer padding-10 text-center">
                <a href="http://lancecoder.com/themes/thema/versions/html/index.php#">View all <i class="fa fa-arrow-right"></i></a>
            </div>
        </div><!--/widget-->

    </div>

</div><!--/.row-->


