<%= form_for @product, :html => {:class => "form-horizontal"} do |f| %>
	
	<div class="form-group has-success">
		<div class="col-md-6 col-md-offset-3">
			<%= render 'shared/error', object: f.object %>
		</div>
	</div>

	<div class="form-group has-success">
		<%= f.label :product_code, "Product Code", class: "col-md-3 control-label" %>
	    <div class="col-md-6">
	        <%= f.text_field :product_code, class: "form-control" %>
	    </div>
	</div>

	<div class="form-group has-success">
		<%= f.label :name, "Name", class: "col-md-3 control-label" %>
	    <div class="col-md-6">
	        <%= f.text_field :name, class: "form-control" %>
	    </div>
	</div>

	<div class="form-group has-success">
		<%= f.label :unit_price, "Unit Price", class: "col-md-3 control-label" %>
	    <div class="col-md-6">
	        <%= f.text_field :unit_price, class: "form-control" %>
	    </div>
	</div>

	<div class="form-group has-success">
		<%= f.label :category_id, "Category", class: "col-md-3 control-label" %>
	    <div class="col-md-6">
	        <%= f.select :category_id, nested_set_options(Category, @category) {|i| "#{sanitize('&nbsp;') * i.level} #{i.title}"}, {include_blank: 'Select a category'}, class: "form-control" %>
	    </div>
	</div>

	<div class="form-group has-success">
		<%= f.label :unit_id, "Unit", class: "col-md-3 control-label" %>
	    <div class="col-md-6">
	        <%= f.collection_select(:unit_id, Unit.all, :id, :name, {include_blank: true}, {:class=>'form-control'}) %>
	    </div>
	</div>

	<div class="form-group has-success">
		<%= f.label :brand_id, "Brand", class: "col-md-3 control-label" %>
	    <div class="col-md-6">
	        <%= f.collection_select(:brand_id, Brand.all, :id, :name, {include_blank: true}, {:class=>'form-control'}) %>
	    </div>
	</div>

	<div class="form-group has-success">
		<%= f.label :notify_limit, "Notify Limit", class: "col-md-3 control-label" %>
	    <div class="col-md-6">
	        <%= f.text_field :notify_limit, class: "form-control" %>
	    </div>
	</div>

	<div class="form-group">
        <div class="col-lg-offset-3 col-lg-6">
        	<%= f.submit "Save", class: "btn btn-primary btn-md" %>
        </div>
    </div>


<% end %>




