<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="widget">
      <div class="widget-header bg-white">
          <h3 class="fg-gray">Product</h3>
          <%= link_to new_product_path do %>
            <span class="fa fa-plus fg-gray pull-right btn-todo-add"></span>
          <% end %>
          <div class="clearfix"></div>
      </div>
      <div class="widget-content bg-white">
          <table class="table  table-hover table-striped table-condensed cf" id="products-table", data-source="<%= products_path(format: :json) %>">
            <thead>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Unit</th>
                <th>Brand</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
      </div><!--/widget-content--> 
    </div><!--/widget-->
  </div>
</div>


