<!--======== Page Title and Breadcrumbs Start ========-->
<div class="top-page-header">
    
    <div class="page-title">
        <h2>Thema Dashboard</h2>
        <small>Your admin dashboard.</small>
    </div>
    <div class="page-breadcrumb">
        <nav class="c_breadcrumbs">
            <ul>
                <li><a href="http://lancecoder.com/themes/thema/versions/html/index.php#">Thema</a></li>
                <li class="active"><a href="http://lancecoder.com/themes/thema/versions/html/index.php#">Dashboard</a></li>
            </ul>
        </nav>
    </div>
    <!-- <div class="right-menu pull-right">
        Reporting Period
        <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Last 10 days <span class="caret"></span></button>
          <ul class="dropdown-menu bullet pull-middle animated pulse">
            <li>
              <input type="radio" id="ex1_1" name="ex1" value="1" checked="">
              <label for="ex1_1">Last 10 days</label>
            </li>
            <li>
              <input type="radio" id="ex1_2" name="ex1" value="2">
              <label for="ex1_2">Last 20 days</label>
            </li>
            <li>
              <input type="radio" id="ex1_3" name="ex1" value="3">
              <label for="ex1_3">Last 30 days</label>
            </li>
          </ul>
        </div>

    </div> -->

    <!-- <div class="pull-right toggle-right-sidebar">
        <span class="fa fa-outdent fa-2x title-open-right-sidebar tooltipstered"></span>
    </div> -->

</div>
<!--======== Page Title and Breadcrumbs End ========-->