<!--===== Right sidebar nofications start ========-->
<aside>
    <div id="right-sidebar" class="right-sidebar-notifcations nav-collapse hide-right-bar-notifications">
        <div class="bs-example bs-example-tabs right-sidebar-tab-notification" data-example-id="togglable-tabs">
            <ul id="right-sidebar-tabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="http://lancecoder.com/themes/thema/versions/html/index.php#activities" id="activities-tab" role="tab" data-toggle="tab" aria-controls="activities" aria-expanded="true">Activities</a>
                </li>
                <li role="presentation">
                    <a href="http://lancecoder.com/themes/thema/versions/html/index.php#tasks" role="tab" id="tasks-tab" data-toggle="tab" aria-controls="tasks">Tasks</a>
                </li>
                <li role="presentation">
                    <a href="http://lancecoder.com/themes/thema/versions/html/index.php#settings" role="tab" id="settings-tab" data-toggle="tab" aria-controls="settings">Settings</a>
                </li>
                
            </ul>
            <div id="right-sidebar-tab-content" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="activities" aria-labelledby="activities-tab">
                    <div class="right-sidebar-panel-content-heading">
                        <h4><span class="icon-user"></span> Latest user activities</h4>
                        <small>10 Latest Activities</small>
                    </div>
                    <div class="right-sidebar-panel-content animated fadeInRight" style="overflow: hidden; outline: none;" tabindex="5001">
                        
                        <ul class="right-sidebar-list" style="overflow: hidden; outline: none;" tabindex="5004">
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/profile.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - User Login...</h5>
                                    <p>Accessing the system...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/img3.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Updating...</h5>
                                    <p>Updating user ID 1 ...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/img2.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Deleting...</h5>
                                    <p>Deleting user message...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/img5.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Accessing...</h5>
                                    <p>User accessing the sys...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/profile.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Viewing...</h5>
                                    <p>Viewing the user...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/profile.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Reading...</h5>
                                    <p>Reading user message...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/profile.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Registering...</h5>
                                    <p>Registering new user...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/profile.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Registering...</h5>
                                    <p>Registering new user...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/profile.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Registering...</h5>
                                    <p>Registering new user...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/profile.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Registering...</h5>
                                    <p>Registering new user...</p>
                                </div>
                            </li>
                            
                        </ul>    

                    <div id="ascrail2004" class="nicescroll-rails" style="width: 3px; z-index: 1000; cursor: default; position: absolute; top: 0px; left: 286px; height: 513px; opacity: 0;"><div style="position: relative; top: 0px; float: right; width: 3px; height: 446px; background-color: rgb(231, 231, 231); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div><div id="ascrail2004-hr" class="nicescroll-rails" style="height: 3px; z-index: 1000; top: 510px; left: 0px; position: absolute; cursor: default; display: none; width: 286px; opacity: 0;"><div style="position: relative; top: 0px; height: 3px; width: 289px; background-color: rgb(231, 231, 231); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tasks" aria-labelledby="tasks-tab">
                    <div class="right-sidebar-panel-content-heading">
                        <h4><span class="icon-list"></span> Recent tasks</h4>
                        <small>15 Ongoing tasks</small>
                    </div>
                    <div class="right-sidebar-panel-content animated fadeInRight" style="overflow: hidden; outline: none;" tabindex="5002">
                        
                        <ul class="right-sidebar-list" style="overflow: hidden; outline: none;" tabindex="5005">
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/profile.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5><a href="http://lancecoder.com/themes/thema/versions/html/index.php#">John Doe - Creating Tasks</a></h5>
                                    <p>To update the sidebar...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/img2.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Updating Tasks</h5>
                                    <p>To update the header UI...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/img3.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Deleting Tasks</h5>
                                    <p>Change the content UI...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/img4.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Updating Tasks</h5>
                                    <p>To update the header UI...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/img5.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Deleting Tasks</h5>
                                    <p>Change the content UI...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/img4.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Updating Tasks</h5>
                                    <p>To update the header UI...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/profile.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Deleting Tasks</h5>
                                    <p>Change the content UI...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/profile.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Updating Tasks</h5>
                                    <p>To update the header UI...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/profile.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Deleting Tasks</h5>
                                    <p>Change the content UI...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/profile.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Updating Tasks</h5>
                                    <p>To update the header UI...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/profile.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Deleting Tasks</h5>
                                    <p>Change the content UI...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/profile.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Updating Tasks</h5>
                                    <p>To update the header UI...</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left thumbnail-hover">
                                    <div class="overflow-hidden">
                                        <img src="./Thema Admin Boostrap Template_files/profile.jpg" width="80" alt="image">
                                    </div>
                                </div>
                                <div>
                                    <h5>John Doe - Deleting Tasks</h5>
                                    <p>Change the content UI...</p>
                                </div>
                            </li>
                            
                        </ul>

                    <div id="ascrail2005" class="nicescroll-rails" style="width: 3px; z-index: 1000; cursor: default; position: absolute; top: 0px; left: -3px; height: 513px; display: none;"><div style="position: relative; top: 0px; float: right; width: 3px; height: 0px; background-color: rgb(231, 231, 231); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div><div id="ascrail2005-hr" class="nicescroll-rails" style="height: 3px; z-index: 1000; top: 510px; left: 0px; position: absolute; cursor: default; display: none;"><div style="position: relative; top: 0px; height: 3px; width: 0px; background-color: rgb(231, 231, 231); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="settings" aria-labelledby="settings-tab">
                    <div class="right-sidebar-panel-content-heading">
                        <h4><span class="icon-list"></span> System Settins</h4>
                        <small>80% Completed Settings</small>
                    </div>
                    <div class="right-sidebar-panel-content animated fadeInRight" style="overflow: hidden; outline: none;" tabindex="5003">
                        <ul class="right-sidebar-list" style="overflow: hidden; outline: none;" tabindex="5006">
                            <li>
                                <label class="switch-input success">
                                    <input type="checkbox" name="switch-checkbox" checked="">
                                    <i data-on="YES" data-off="NO"></i> Email Notifications
                                </label>
                            </li>
                            <li>
                                <label class="switch-input success">
                                    <input type="checkbox" name="switch-checkbox">
                                    <i data-on="YES" data-off="NO"></i> Daily Email Notifiactions
                                </label>
                            </li>
                            <li>
                                <label class="switch-input success">
                                    <input type="checkbox" name="switch-checkbox" checked="">
                                    <i data-on="YES" data-off="NO"></i> Show user visitors
                                </label>
                            </li>
                            <li>
                                <label class="switch-input success">
                                    <input type="checkbox" name="switch-checkbox" checked="">
                                    <i data-on="YES" data-off="NO"></i> Show birthdate
                                </label>
                            </li>
                            <li>
                                <label class="switch-input success">
                                    <input type="checkbox" name="switch-checkbox">
                                    <i data-on="YES" data-off="NO"></i> Show address
                                </label>
                            </li>
                            <li>
                                <label class="switch-input success">
                                    <input type="checkbox" name="switch-checkbox">
                                    <i data-on="YES" data-off="NO"></i> Payment Recurring
                                </label>
                            </li>
                            <li>
                                <label class="switch-input success">
                                    <input type="checkbox" name="switch-checkbox">
                                    <i data-on="YES" data-off="NO"></i> SMS Notifications
                                </label>
                            </li>
                        </ul>
                    <div id="ascrail2006" class="nicescroll-rails" style="width: 3px; z-index: 1000; cursor: default; position: absolute; top: 0px; left: -3px; height: 513px; display: none;"><div style="position: relative; top: 0px; float: right; width: 3px; height: 0px; background-color: rgb(231, 231, 231); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div><div id="ascrail2006-hr" class="nicescroll-rails" style="height: 3px; z-index: 1000; top: 510px; left: 0px; position: absolute; cursor: default; display: none;"><div style="position: relative; top: 0px; height: 3px; width: 0px; background-color: rgb(231, 231, 231); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div></div>
                </div>
            </div>
        </div><!-- /example -->
        <div class="btn-bottom-right-sidebar-close">
            <span class="fa fa-times"></span>
        </div>
            
    <div id="ascrail2001" class="nicescroll-rails" style="width: 3px; z-index: 1000; cursor: default; position: absolute; top: 121px; left: 286px; height: 492px; opacity: 0;"><div style="position: relative; top: 0px; float: right; width: 3px; height: 463px; background-color: rgb(231, 231, 231); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div><div id="ascrail2001-hr" class="nicescroll-rails" style="height: 3px; z-index: 1000; top: 610px; left: 0px; position: absolute; cursor: default; display: none; width: 286px; opacity: 0;"><div style="position: relative; top: 0px; height: 3px; width: 289px; background-color: rgb(231, 231, 231); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div><div id="ascrail2002" class="nicescroll-rails" style="width: 3px; z-index: 1000; cursor: default; position: absolute; top: -60px; left: -1326.11px; height: 492px; display: none;"><div style="position: relative; top: 0px; float: right; width: 3px; height: 0px; background-color: rgb(231, 231, 231); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div><div id="ascrail2002-hr" class="nicescroll-rails" style="height: 3px; z-index: 1000; top: 429px; left: -1323.11px; position: absolute; cursor: default; display: none;"><div style="position: relative; top: 0px; height: 3px; width: 0px; background-color: rgb(231, 231, 231); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div><div id="ascrail2003" class="nicescroll-rails" style="width: 3px; z-index: 1000; cursor: default; position: absolute; top: -60px; left: -1326.11px; height: 492px; display: none;"><div style="position: relative; top: 0px; float: right; width: 3px; height: 0px; background-color: rgb(231, 231, 231); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div><div id="ascrail2003-hr" class="nicescroll-rails" style="height: 3px; z-index: 1000; top: 429px; left: -1323.11px; position: absolute; cursor: default; display: none;"><div style="position: relative; top: 0px; height: 3px; width: 0px; background-color: rgb(231, 231, 231); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div></div>
</aside>    
<!--===== Right sidebar nofications end ========-->