<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse md-box-shadowed">
        <!-- sidebar menu start-->
        <div class="leftside-navigation leftside-navigation-scroll" style="overflow: hidden; outline: none;" tabindex="5000">
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sidebar-profile">

                    <div class="profile-options-container">
                        <p class="text-right profile-options"><span class="profile-options-close pe-7s-close fa-2x font-bold"></span></p>

                        <div class="profile-options-list animated zoomIn">
                            <p><a href="http://lancecoder.com/themes/thema/versions/html/app-pages/page-profile-dashboard.html">Profile</a></p>
                            <p><a href="http://lancecoder.com/themes/thema/versions/html/app-pages/page-profile-settings.html">Settings</a></p>
                            <p><a href="javascript:void(0)">Help</a></p>
                            <p><a href="http://lancecoder.com/themes/thema/versions/html/app-pages/page-login-2.html">Log Out</a></p>
                        </div>
                        
                    </div>
                    
                    <div class="profile-main">
                        <p class="text-right profile-options"><i class="profile-options-open icon-options-vertical fa-2x"></i></p>
                        <p class="image">
                            <%= image_tag("profile.jpg", width: 80) %>

                            <span class="status"><i class="fa fa-circle text-success"></i></span>
                        </p>
                        <p>
                            <span class="name">John Doe</span><br>
                            <span class="position" style="font-family: monospace;">Administrator</span>
                        </p>
                    </div>
                    
                </li>
                <li class=" ">
                    <%= link_to(dashboard_path, class: "hvr-bounce-to-right-sidebar-parent #{active_class(dashboard_path)}") do  %>
                        <span class="fa fa-home fa-2x"></span><span>Dashboard</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to(products_path, class: "hvr-bounce-to-right-sidebar-parent", "data-turbolinks" => "false") do  %>
                        <span class="icon-sidebar fa fa-product-hunt fa-2x"></span>
                        <span>Product</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to(categories_path, class: "hvr-bounce-to-right-sidebar-parent") do  %>
                        <span class="icon-sidebar fa fa-sitemap fa-2x"></span>
                        <span>Category</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to(setting_path, class: "hvr-bounce-to-right-sidebar-parent") do  %>
                        <span class="icon-sidebar fa fa-cogs fa-2x"></span>
                        <span>Setting</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to(sales_path, class: "hvr-bounce-to-right-sidebar-parent") do  %>
                        <span class="icon-sidebar fa fa-tags fa-2x"></span>
                        <span>Sales</span>
                    <% end %>
                </li>
                <li class="sub-menu  dcjq-parent-li"><a href="http://lancecoder.com/themes/thema/versions/html/1" class="hvr-bounce-to-right-sidebar-parent dcjq-parent"><span class="icon-sidebar icon-screen-desktop fa-2x"></span><span>Layouts</span><span class="fa dcjq-icon"></span></a>
                    <ul class="sub" style="display: block;">
                        <li class="sub-menu dcjq-parent-li"><a href="javascript:void(0);" class="dcjq-parent">Boxed Page<span class="fa dcjq-icon"></span></a>
                            <ul class="sub" style="display: none;">
                                <li><a href="http://lancecoder.com/themes/thema/versions/html/layouts/boxed_page.html">Default</a>
                                </li>
                                <li><a href="http://lancecoder.com/themes/thema/versions/html/layouts/boxed_page_fixed_header.html">Default + Fixed Header</a>
                                </li>
                                <li><a href="http://lancecoder.com/themes/thema/versions/html/layouts/boxed_page_no_sidebar.html">No sidebar</a>
                                </li>
                                <li><a href="http://lancecoder.com/themes/thema/versions/html/layouts/boxed_page_no_sidebar_fixed_header.html">No sidebar + Fixed Header</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="http://lancecoder.com/themes/thema/versions/html/layouts/full_width_content.html">Full width content</a>
                        </li>
                        <li><a href="http://lancecoder.com/themes/thema/versions/html/layouts/blank.html">Blank Page</a>
                        </li>
                    </ul>
                </li>
                
           
            </ul>           
        </div>
        <!-- sidebar menu end-->
    <div id="ascrail2000" class="nicescroll-rails" style="width: 3px; z-index: auto; cursor: default; position: absolute; top: -18px; left: 237px; height: 605px; opacity: 0; display: block;"><div style="position: relative; top: 0px; float: right; width: 3px; height: 418px; background-color: rgba(76, 81, 86, 0.2); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div><div id="ascrail2000-hr" class="nicescroll-rails" style="height: 3px; z-index: auto; top: 584px; left: 0px; position: absolute; cursor: default; display: none; width: 237px; opacity: 0;"><div style="position: relative; top: 0px; height: 3px; width: 240px; background-color: rgba(76, 81, 86, 0.2); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div></div>
</aside>    <!--sidebar end-->




<!-- /menu footer buttons -->

<!--<div class="sidebar-footer hidden-small">
    <a class="tooltip-settings" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a class="tooltip-fullscreen" title="Full Screen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a class="tooltip-resize-fullscreen" title="Resize Screen" style='display:none'>
        <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
    </a>
    <a class="tooltip-lock" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a class="tooltip-logout" title="Logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>-->    <!-- /menu footer buttons -->