<li class="<%= category.children.count>0 ?  'sub-menu dcjq-parent-li' : '' %>">
    <%= link_to category_path(category), class: category.root? ? 'hvr-bounce-to-right-sidebar-parent dcjq-parent' : '', "data-turbolinks" => "false" do %>
        <span><%= category.title %></span>
        <% if category.children.count >0 %>
            <span class="fa dcjq-icon"></span>
        <% end %>
    <% end %>

    <% if category.children.count > 0 %>
        <ul class="sub" style="display: block;">
            <% for child in category.children do %>
                <%= render :partial => "layouts/partials/tree", :locals => {:category => child }%>
            <% end %>
        </ul>
    <% end %>
</li>

