<%= form_for @detail, :html => {:class => "form-horizontal"} do |f| %>
	<div class="form-group has-success">
		<div class="col-md-6 col-md-offset-3">
			<%= render 'shared/error', object: f.object %>
		</div>
	</div>
	<%= f.hidden_field :product_id, value: @product.id %>

	<div class="form-group has-success">
		<%= f.label :quantity, "Quantity", class: "col-md-3 control-label" %>
	    <div class="col-md-6">
	        <%= f.text_field :quantity, class: "form-control" %>
	    </div>
	</div>	

	<div class="form-group has-success">
		<%= f.label :purchase_price, "Purchase Price", class: "col-md-3 control-label" %>
	    <div class="col-md-6">
	        <%= f.text_field :purchase_price, class: "form-control" %>
	    </div>
	</div>

	<div class="form-group">
        <div class="col-lg-offset-3 col-lg-6">
        	<%= f.submit "Save", class: "btn btn-primary btn-md" %>
        </div>
    </div>


<% end %>




