<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="widget">
      <div class="widget-header bg-white">
          <h3 class="fg-gray"><%= @product.name %> Details <span class="badge bg-color label-danger"><%= @product.quantity %></span></h3>
          <%= link_to new_product_detail_path(@product) do %>
            <span class="fa fa-plus fg-gray pull-right btn-todo-add"></span>
          <% end %>
          <div class="clearfix"></div>
      </div>
      <div class="widget-content bg-white">
          <table class="table  table-hover general-table" id="product-details-table">
            <thead>
              <tr>
                <th>Previous Quantity</th>
                <th>New Quantity</th>
                <th>Purchase Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
				<% @product_details.each do |item| %>
					<tr>
						<td><%= item.previous_quantity %></td>
						<td><%= item.quantity %></td>
						<td><%= item.purchase_price %></td>
            <td>
              <%= link_to(fa_icon('trash-o lg'), product_detail_path(@product, item), :method => :delete, data: {:confirm => 'Are you sure?'}) %>
                
            </td>
					</tr>
				<% end %>
            </tbody>
          </table>
      </div><!--/widget-content--> 
    </div><!--/widget-->
  </div>
</div>


