<div class="row">

    <div class="col-md-12">
        
        <!--=========== START TAGS INPUT ===========-->
        

        <div class="c_panel">

            <div class="c_title">
                <h2>Add More Product</h2>
                <div class="clearfix"></div>
            </div><!--/.c_title-->

            <div class="c_content">

                <%= render "form" %>
                
                
            </div><!--/.c_content-->

        </div><!--/.c_panels-->

    </div>

</div>



