<% sales.each do |sale| %>
	<tr>
		<td><%= sale.created_at.strftime("%d-%m-%Y %I:%M") %></td>
		<td><%= sale.product.name %></td>
		<td><%= sale.product.category.title %></td>
		<td><%= sale.quantity %></td>
		<td><%= number_to_currency(sale.unit_price, unit: 'TK', format: "%n %u") %></td>
		<td><%= number_to_currency(sale.total_price, unit: 'TK', format: "%n %u") %></td>
	</tr>
<% end %>