<div class="row">
  <div class="col-md-12">

    <div class="c_panel">

        <div class="c_title">
            <h2>Sales List</h2>
            <div class="clearfix"></div>
        </div><!--/.c_title-->

        <div class="c_content page-search-results">
            
            <div class="search-box">
              <%= form_tag(sales_path, method: 'get') do  %>
                <!-- <div class="row">
                  <div class="form-group col-md-8">
                    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Search Products" %>
                  </div>
                </div> -->
                <div class="row">
                  <div class="form-group col-md-4">
                    <div class="input-group date" id='sales_start_date'>
                        <%= text_field_tag :start_date, params[:start_date], class: 'form-control', placeholder: 'Start Date' %>
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <div class="input-group date" id='sales_end_date'>
                      <%= text_field_tag :end_date, params[:end_date], class: 'form-control', placeholder: 'End Date' %>
                      <span class="input-group-addon">
                          <span class="fa fa-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <span class="input-group-btn">
                      <%= button_tag("Search", class: 'btn btn-success') %>
                      <%= link_to "Clear", sales_path, class: 'btn btn-danger' %>
                  </span>
                </div>
              <% end %>
            </div>

            <div class="search-results">
              <div class="tab-content">
                  <div class="tab-pane fade in active">
                    <table class="table table-striped">
                      <thead>
                        <th>Date</th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                      </thead>
                      <tbody id="sales_results">
                        <%= render partial: 'item', locals: {sales: @sales} %>
                        
                      </tbody>
                    </table>
                  </div>                    
              </div>
              <!--TAB END-->
            </div>
        </div><!--/.c_content-->
    </div><!--/.c_panels-->
  </div>
</div>

