<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Inventory" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="front-header navbar navbar-default fixed-top navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Inventory", root_path, class: "navbar-brand", "data-turbolinks" => "false" %>
        <div class="navbar-collapse collapse navbar-responsive-collapse"> 
          <div class="top-nav">
          <ul class="nav navbar-nav">
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="cart-text"><%= render 'layouts/partials/cart_text' %></li> 
            <% if user_signed_in? %>
              <li><%= link_to 'Log out', destroy_user_session_path, method: 'delete' %></li>
            <% else %>
              <li><%= link_to 'Log in', new_user_session_path  %></li>
            <% end %> 
                      
          </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="front-container container">
      <div class="row">
        <div class="col-lg-3">
          <!--sidebar start-->
          <aside>
              <div id="sidebar" class="nav-collapse md-box-shadowed">
                  <!-- sidebar menu start-->
                  <div class="leftside-navigation leftside-navigation-scroll" style="overflow: hidden; outline: none;" tabindex="5000">
                      <ul class="sidebar-menu" id="nav-accordion">
                        <% categories.each do |category| %>
                          <%= render :partial => "layouts/partials/tree", locals: {:category => category } %>
                        <% end %>
                      </ul>           
                  </div>
                  <!-- sidebar menu end-->
              
          </aside>    <!--sidebar end-->


        </div>
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->

  
  <script type="text/javascript">


      $(document).ready(function(){
          new WOW().init();

          App.initPage();
          App.initLeftSideBar();
          
      });
  </script>


  </body>
</html>
