<!DOCTYPE html>
<!-- saved from url=(0058)http://lancecoder.com/themes/thema/versions/html/index.php -->
<html lang="en" class="js mq no-touch gr__lancecoder_com"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="keywords" content="thema bootstrap template, thema admin, bootstrap, admin template, bootstrap admin">

    <meta name="author" content="LanceCoder">

    <title class="tooltipstered"><%= content_for?(:title) ? yield(:title) : "Inventory" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
<style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style></head>


<body id="default-scheme" data-gr-c-s-loaded="true">

    <section id="container">

        <div class="pop-header" style="width: 100%; padding: 20px; position: fixed; background-color: rgb(45, 41, 41); color: rgb(255, 255, 255); z-index: 10000; font-size: 14px; text-align: center; font-weight: bold; display: none;">
            <span>Please check our new "Bootstrap Admin Template" here: <a href="https://goo.gl/tHPzXQ" target="_blank" style="color: #fff;">https://goo.gl/tHPzXQ</a>.</span>

            <span style="float: right; background: red; color: white; padding: 5px 10px; cursor: pointer;" class="close-pop-up">Close</span>
        </div>

        <%= render 'layouts/partials/header' %>

        <%= render 'layouts/partials/sidebar' %>

        

        <!--main content start-->
        <section id="main-content">

                
            <section class="wrapper">

                <%= render 'layouts/partials/breadcrumb' %>
                <%= bootstrap_flash %>
                <%= yield %>


            </section>
            
        </section>
        <!--======== Main Content End ========-->


        

    </section><!--/.container-->

   
    

    <script type="text/javascript">


        $(document).ready(function(){
            new WOW().init();

            App.initPage();
            App.initLeftSideBar();
            App.initCounter();
            App.initNiceScroll();
            App.initPanels();
            App.initProgressBar();
            App.initSlimScroll();
            App.initNotific8();
            App.initTooltipster();
            App.initStyleSwitcher();
            App.initMenuSelected();
            App.initRightSideBar();
            App.initEmail();
            App.initSummernote();
            App.initAccordion();
            App.initModal();
            App.initPopover();
            App.initOwlCarousel();
            App.initSkyCons();
            App.initWidgets();

            DashboardGreen.initRickShawGraph();
            DashboardGreen.initFlotGraph();
            DashboardGreen.initChartGraph();
            DashboardGreen.initSparklineGraph();
            DashboardGreen.initDateRange();
            DashboardGreen.initWorldMap();
            DashboardGreen.initEasyPieChart();
            DashboardGreen.initMorrisChart();
            DashboardGreen.initTodoList();

            if($.cookie("is_close_popup_header") === undefined || $.cookie("is_close_popup_header") != 1) {
                $(".pop-header").slideDown(1000);
            }

            $(".close-pop-up").on("click", function(){
                $.cookie("is_close_popup_header", 1);
                $(".pop-header").slideUp();
            });

        });
    </script>






<!--===== Footer End ========-->
</body>
</html>